/* gallery.css */

/* Reset default styles */
body, figure, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set general styles */
h1 {
  text-align: center;
  margin: 20px 0;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

figure {
  text-align: center;
}

figcaption {
  margin-top: 10px;
  font-style: italic;
  color: #888;
}

.gallery1 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.gallery1 li {
  margin: 10px;
}

.gallery1 img {
  cursor: pointer;
  border: 3px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out;
}

.gallery1 img:hover {
  border-color: #888;
}

#mainImage {
  border: 5px solid #888;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}